/Dokumentacija/*.aux
/Dokumentacija/*.lof
/Dokumentacija/*.log
/Dokumentacija/*.lot
/Dokumentacija/*.out
/Dokumentacija/*.synctex.gz
/Dokumentacija/*.toc
IzvorniKod/.classpath
IzvorniKod/.project
IzvorniKod/.settings
IzvorniKod/backend/target
IzvorniKod/frontend/node_modules
*.idea
