table.user-info-header {
    width: 80%;
    margin: 0 auto;
}


.user-info-header td {
    text-align: left;
    padding: 8px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
