.user-info-table {
    width: 100%;
    margin-top: 20px;
  }
  
  .user-info-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-info-table th, .user-info-table td {
    border: 1px solid #00000085;
    padding: 10px;
    text-align: left;
  }
  
  .user-info-table th {
    background-color: #f4c95de7;
  }
  
  .user-info-table tbody tr:hover {
    background-color: #f4c95d52;
  }
