.navbar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.logo-container img {
    margin: 1rem;
    width: 10rem;
}

.navbar-options-container {
    flex: 1;
    margin: 1rem;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 1px;
    display: flex;
    justify-content: center;
}

.nav-item {
    padding: 15px;
    margin: 0 10px;
    color: #000;
}

.nav-item button {
    margin: 20px;
    margin-bottom: 0;
    margin-top: 0;
}
