
.updateFormContainer {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}


.competitionUpdateForm, .problemUpdateForm{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    }

.Space {
    width: 100%;
}


.ant-picker {
    width: 100%;
    margin-bottom: 15px;
}

.saveButton{
    display: block;
}

