.navbar-container {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    padding: 10px;
    max-width: 100%;
    max-height: fit-content;
    overflow-x: hidden;
}

.logo-container img {
    margin: 5px;
    width: 15vw;
}

.navbar-options-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 1rem;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    max-height: fit-content;
    max-width: 100%;
}

.navbar-options-container a {
    margin: 2px;
}

.navbar-options-container button {
    height: fit-content;
    margin: 10px;
    margin-bottom: 0;
    margin-top: 0;
    align-self: center;
}

.userIconImg {
    width: 2rem;
    margin-left: .5rem;
    border-radius: 50%;
    height: 2rem;
    object-fit: cover;
}

.loginDiv {
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 10px;
    padding: 1rem;
}

.loginDiv a {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    border: 3px solid transparent;
    border-radius: 10px;
    padding: 0.1rem;
    transition: border-color 0.25s;

}

.loginDiv button {
    margin: 0;
    padding: 0.5rem;
}

.loginDiv button:hover {
    color: #dd7230;
    background-color: transparent;
}

.loginDiv a:hover {
    border-color: #dd7230;
}

.korisnikIme {
    padding-left: 1rem;
}

[data-theme="dark"] .navbar-options-container a>button:hover {
    color: #ECDCC9;
}

[data-theme="dark"] a:hover,
[data-theme="dark"] button:hover {
    color: #854d27;
}

[data-theme="dark"] button,
[data-theme="dark"] a {
    color: #ECDCC9;
}

[data-theme="dark"] .logo-container {
    background-color: #2A2D34;
}

@media screen and (max-width: 768px) {
    .navbar-container {
        grid-template-columns: 1fr;
        font-size: 10px;
    }

    .navbar-options-container {
        grid-template-columns: 1fr;
        margin: 1px;
    }

    .navbar-options-container button {
        margin: 5px 0;
    }

    .logo-container {
        text-align: center;
    }

    .userIconImg {
        margin-left: 0;
    }

    .loginDiv {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .loginDiv a {
        margin-bottom: 10px;
    }
}