.FormRow .zadatakTestovi label {
    display: inline;
    margin-bottom: 2px;
    margin-right: 1rem;
}

.FormRow .zadatakTestovi input {
    display: inline;
    font-size: 16px;
    padding: 8px;
    border: 2px solid #aaa;
    border-radius: 2px;
    box-sizing: border-box;
    width: 250px;
}

.zadatakTestovi button {
    margin-left: 1rem;
    margin-top: 1rem;
    background: none;
    border: 2px solid #aaaaaa7a;
    padding: 0.5rem;
    font-size: 16px;
    cursor: pointer;
}

.zadatakTestovi button:hover{
    border-color: #dd7230;
}

.zadatakTestovi button:active{
    background-color: #dd7230;
}
.error {
    font-weight: 500;
    color: rgb(161, 0, 0);
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: 0.5rem;
}

.ulaz, .izlaz{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}