.newProblem-container .FormRow {
    margin: 10px 0;
}
.newProblem-container form{
    width: 75%;
    text-align: left;
}
.newProblem-container div.NewProblem{
    width: 100%;
}
.newProblem-container .NewProblem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #aaa;
    border-radius: 10px;
    padding: 20px;
}

.newProblem-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newProblem-container .NewProblem .FormRow:first-child {
    margin-top: 0;
}

.newProblem-container .FormRow label {
    padding: 1rem 0;
    display: block;
    margin-bottom: 2px;
    font-weight: 500;
}

.newProblem-container .FormRow input {
    font-size: 16px;
    padding: 1.2rem;
    border: 2px solid #aaa;
    box-sizing: border-box;
    width: 100%;
}

.tekstZadatka{
    height: auto;
    min-height: auto;
}

.NewProblem button{
    margin-top: 10px;
    background: none;
    border: 2px solid #aaa;
    padding: 5px 12px;
    font-size: 16px;
    cursor: pointer;
}

.NewProblem button:disabled {
    color: #ddd;
}

.NewProblem .error {
    font-weight: 500;
    color: rgb(161, 0, 0);
    margin-bottom: 8px;
}

.NewProblem .poruka {
    color: rgb(67, 179, 2);
    margin-bottom: 8px;
}

.NewProblem .radio1 input{
    margin-bottom: 1.5rem;
    padding: 0px;
    max-width: 20px;
}

.NewProblem label.radio1 {
    display: inline;
    font-weight: 400;
}

.newProblem-container .radio1:first-child{
    margin-right: 30px;
}

.privatniZadatak input[type="radio"] {
    accent-color:#000000;
}

.FormRow#brBodova label,.FormRow#brBodova input , .FormRow#vremOgranicenje label,  .FormRow#vremOgranicenje input{
    padding:0.2rem;
    margin-right: 1rem;
    display: inline;
}

.FormRow#brBodova, .FormRow#vremOgranicenje {
    margin-top: 1rem;
    margin-bottom: 1rem;
}