.FormRow {
    margin: 10px 0;
}

.Register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #aaa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Register .FormRow:first-child {
    margin-top: 0;
}

.FormRow label {
    display: block;
    margin-bottom: 2px;
    font-weight: 500;
}

.FormRow input {
    font-size: 16px;
    padding: 8px;
    border: 2px solid #aaa;
    box-sizing: border-box;
    width: 250px;
}

.Register button{
    margin-top: 10px;
    background: none;
    border: 2px solid #aaa;
    padding: 5px 12px;
    font-size: 16px;
    cursor: pointer;
}

.Register button:disabled {
    color: #ddd;
}

.Register .error {
    font-weight: 500;
    color: rgb(161, 0, 0);
    margin-bottom: 8px;
}

.Register .poruka {
    color: rgb(67, 179, 2);
    margin-bottom: 8px;
}


.Register .RadioLbl input{
    margin: 0px;
    padding: 0px;
    max-width: 20px;
}

.FormRow .RadioLbl {
    display: inline;
    font-weight: 400;
}

.RadioLbl:first-child{
    margin-right: 30px;
}

.RoleOptions input[type="radio"] {
    accent-color:#000000;
}
    