.tableWrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.info-table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 60px;
}

.info-table table {
  width: 100%;
  border-collapse: collapse;
}

.info-table th,
.info-table td {
  border: 1px solid #00000085;
  padding: 10px;
  text-align: left;
  overflow: hidden;
}

.info-table th{
  background-color: #f4c95de7;
}

.info-table tbody tr:hover{
  background-color: #f4c95d52;
}

/* table.problem-info-header, table.competition-info-header{
  width: 80%;
  margin: 0 auto;
}

.problem-info-header td, .competition-info-header td  {
  text-align: left;
  padding: 8px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} */


[data-theme="dark"] .info-table{
  color: #ECDCC9;
  background-color: #2A2D34;
  border-color: #ECDCC9;
}

[data-theme="dark"] button:hover {
  color: #2A2D34;
  background-color: #dd7230e0;
}

[data-theme="dark"] button, [data-theme="dark"] a {
  color: #ECDCC9;
}

[data-theme="dark"] .info-table th{
  background-color: #dd7230e0;
}

[data-theme="dark"] .info-table tbody tr:hover{
  background-color: #f4c95da1;
}
