.userProfile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.userProfileImg {
    width: 20rem;
    border-radius: 50%;
    height: 20rem;
    object-fit: cover;
}

.userData {
    text-align: left;
    font-size: 1.5rem;
    margin-left: 15px;
}

.userImg {
    margin-right: 15px;
}

.confirm-container {
    position: relative;
    display: inline-block;
}

.confirm-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #dd7230;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    /* padding: 5px 5px; */
    font-size: 14px;
    width: 21px;
    height: 21px;
    text-align: center;
}

.userTrophy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.trophyImg {
    max-width: 12rem;
    padding: 1rem;
}